<div class="top-wrapper">
  <div class="jumbotron text-center">
   <p class="title">Song Shuffle</p>
   <h5>カラオケで歌う曲を決められないあなたに</h5>
  </div>
  <br>
  <br>
  <br>
  <div class="text-center">
    <%= link_to '新規登録', '#', class: 'btn btn-success' %>
    <%= link_to 'ログイン', '#', class: 'btn btn-primary' %>
  </div>
</div>
