<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1><%= t '.title' %></h1>
      </div>
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
